RewriteEngine On

# Serve static files directly if they exist
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Route everything else through Symfony front controller
RewriteRule ^ public/index.php [QSA,L]

<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82 .php .php8 .phtml
</IfModule>
