# Akeneo PIM Root Directory
# This is NOT the web root - web root is /public/

Options -Indexes

<IfModule mime_module>
  AddHandler application/x-httpd-ea-php83 .php .php8 .phtml
</IfModule>

# No redirects here - all handled by Apache port 80 config
